extends blogTemplate

block customHead
    +customSEO("First Blog Post", null, null, "article")

block blogTitle
    | First Blog Post

block info
    +date(2016, 11, 24)

block share
    +inlineFBShare

block blogContent
    h2 Hey guys!
    p
        | I'm glad you're here.  YouTube is great, don't get me wrong, but editing videos is a time consuming effort!  I wanted a place where I could put up some content without having to spend hours filming and editing videos, and thus this blog was born.  Don't worry, I'll still be posting videos, but I'll also be posting here.
    h2 What To Expect
    p
        | I'm planning on using these blogs as a place where we can all chat with each other and have a good time.  I'm planning on doing some product reviews here where I talk about the different baits, line, tackle, gloves, bags, shoes, chicken, private jets, etc...  I'm also planning on creating a page with my arsenal (rods & reels) if you guys are interested.
    h2 Help Support The Channel
    p
        | Subscribe, Share, Like!  It really helps me out when you guys share my videos (and now blog posts) on social media.  We were able to hit 50 subscribers in under two months!  Let's try for 100 over the next two!
    h2 COMMENT
    p
        | Post a commnet, I love hearing from you guys!  JUST A FEW PIXELS BELOW YOU CAN WRITE A COMMENT AND WE CAN BE FRIENDS!
