p,
div,
span,
h1,
h2,
h3
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover
{
  color: #00506f;
  text-decoration: none;
}

a
{
  color: #1798cb;
}
.content {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.5);
}
.content .trailer {
  display: inline-block;
}
.content .description {
  display: inline-block;
}
.section-row {
  display: flex;
  justify-content: space-around;
}
.navbar {
  padding: 5px 10px;
  border-bottom: 2px solid #222;
}
.navbar a {
  padding: 10px 20px;
  font-size: 18px;
}
.jumbotron h1 {
  margin-bottom: -8px;
  font-size: 4em;
}
.jumbotron p {
  font-size: 1.5em;
}
.jumbotron {
  background-image: url(/images/pano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px -90px 90px 0 white inset;
  padding: 6px 120px 220px;
  margin-bottom: -95px;
  text-shadow: 1px 1px 0px rgba(0,0,0,.5);
  color: #fff;
  overflow: hidden;
}

.socialMedia {
  position: fixed;
  text-align: center;
  top: 90px;
  background: rgba(0,0,0,0.4);
  padding: 6px 6px 6px 0;
  border-radius: 0 5px 5px 0;
  z-index: 9999999;
}

.socialMedia .title {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 1px #000;
}

.socialMedia .share:hover {
  opacity: 0.75;
}

.socialMedia .fb-share {
  background: #3a5795;
  line-height: 62px;
  font-size: 38px;
}

.socialMedia .twitter-share {
  background: #4099ff;
  line-height: 50px;
}

.socialMedia .twitter-share .icon {
  width: 34px;
  position: absolute;
  top: 13px;
  left: 8px;
}

.socialMedia .shareWrap {
  display: block;
  background: #fff;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 0 3px 3px 0;
  overflow: hidden;
  margin: 3px 0 6px;
}

.socialMedia .share {
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: right;
  padding: 0 11px;
  color: #fff;
}
footer {
  margin-bottom: 20px;
}
