p,
div,
span,
h1,
h2,
h3
{
  font-family: Roboto,Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #333;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover
{
  color: #00506f;
  text-decoration: none;
}

a
{
  color: #1798cb;
}
.content {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.content p {
  padding-bottom: 10px;
  text-indent: 30px;
  text-shadow: 0 0 10px #fff;
  color: #2c2c2c;
}
.content h2 {
  margin-bottom: 6px;
  text-align: center;
  color: #3c3c3c;
  text-shadow: 0px 0px 10px #fff;
}
.content .contentBlock.teaser {
  padding-left: 15%;
  padding-right: 15%;
}
.content .contentBlock {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.section-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  border-radius: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eddcc9+0,e8cfb4+100 */
  background: #eddcc9; /* Old browsers */
  background: -moz-linear-gradient(top,  #eddcc9 0%, #e8cfb4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eddcc9 0%,#e8cfb4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eddcc9 0%,#e8cfb4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eddcc9', endColorstr='#e8cfb4',GradientType=0 ); /* IE6-9 */
}
.navbar {
  padding: 5px 10px;
  border-bottom: 2px solid #222;
}
.navbar a {
  padding: 10px 20px;
  font-size: 18px;
}
.jumbotron h1 {
  font-size: 4em;
  color: #fff;
}
.jumbotron .subTitle {
  font-size: 1.5em;
  color: #fff;
  margin-top: 10px;
}
.jumbotron .subTitle .subscribe {
  height: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
.jumbotron .subTitle .text {
  height: 28px;
}
.jumbotron .subTitle .subscribe,
.jumbotron .subTitle .text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  color: #fff;
}
.jumbotron {
  background-image: url(/images/pano.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  box-shadow: 0 -90px 90px 0 white inset;
  padding: 10px 120px 250px;
  margin-bottom: -235px;
  text-shadow: 1px 1px 0px rgba(0,0,0,.5);
  overflow: hidden;
  transition: background-size 2s ease-in;
  -moz-transition: background-size 2s ease-in;
  -ms-transition: background-size 2s ease-in;
  -o-transition: background-size 2s ease-in;
  -webkit-transition: background-size 2s ease-in;
}
.jumbotron:hover {
  background-size: 140% auto;
}

.socialMedia {
  position: fixed;
  text-align: center;
  top: 90px;
  background: rgba(0,0,0,0.4);
  padding: 6px 6px 6px 0;
  border-radius: 0 5px 5px 0;
  z-index: 9999999;
}

.socialMedia .title {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 1px #000;
}

.socialMedia .share:hover {
  opacity: 0.75;
}

.socialMedia .fb-share {
  background: #3a5795;
  line-height: 58px;
  font-size: 38px;
}

.socialMedia .twitter-share {
  background: #4099ff;
  line-height: 50px;
}

.socialMedia .twitter-share .icon {
  width: 34px;
  position: absolute;
  top: 13px;
  left: 8px;
}

.socialMedia .shareWrap {
  display: block;
  background: #fff;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 0 3px 3px 0;
  overflow: hidden;
  margin: 3px 0 6px;
}

.socialMedia .share {
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: center;
  padding-left: 7px;
  color: #fff;
  font-weight: bold;
}
footer {
  padding: 0 10px;
  margin-bottom: 20px;
}
