extends static_layout

mixin blogLink(text, link)
    a.blogLink(href="#{link}") #{text}

block pageBody
    link(rel='stylesheet', href='/css/blog.css')

    div.blogShadow

    div.blogBox
        h1.head Recent Blog Posts

        div.blogContent
