extends static_layout

block pageBody
    div.jumbotron
        div.container
            h1 Fishing for Compliments
            p put it in your mouth

    div.content
        div.section-row
            div.trailer
                h2 Season 1
                iframe(width="560" height="315" src="https://www.youtube.com/embed/umF8i9Bm4xs?list=PL4GmdLu3_qyWt0rnuSV8fmiRPMTVqp3OW" frameborder="0" allowfullscreen)
            div.description
                p Hey everyone, welcome to the official website for Fishing For Compliments!  Here you will be able to find EXCLUSIVE fishing and complementary content!
                p I am an amature angler in the Greatest Boston area.  I fish primarily in and around Boston, especially in the Charles River.  There is a strict fishing code that I live by: "Live by the Rod, Die by the Rod" or "LBTR-DBTR" for short or "LBTRDBTR" for shorter.  If you're an experienced angler or a total GOOGAN than this is the site for you.  It's gonna be huge!
                p For the latest in fishing entertainment SUBSCRIBE to my YouTube channel, DO IT NOW!
