extends static_layout

block pageBody
    div.jumbotron
        div.container
            h1 Fishing for Compliments
            p put it in your mouth

    div.content
        div.section-row
            div.trailer
                iframe(width="560" height="315" src="https://www.youtube.com/embed/umF8i9Bm4xs?list=PL4GmdLu3_qyWt0rnuSV8fmiRPMTVqp3OW" frameborder="0" allowfullscreen)
            div.description I'm awesome and this is where I'm going to talk about it
