extends static_layout

block pageBody
    div.jumbotron
        div.container
            h1 Fishing for Compliments
            div.subTitle
                p.text put it in your mouth
                div.subscribe
                    div(class="g-ytsubscribe" data-channelid="UC8xPK2UOR3Qz1Ya6E6i-7eQ" data-layout="default" data-count="default")

    div.content
        div.section-row
            div.contentBlock.teaser
                h2 The Best Fishing in Beantown and Beyond
                p Hey everyone, welcome to the official website for Fishing For Compliments!  Here you will be able to find EXCLUSIVE fishing and complementary content!
                p I am an amature angler in the Greatest Boston area.  I fish primarily in and around Boston, especially in the Charles River.  There is a strict fishing code that I live by: "Live by the Rod, Die by the Rod" or "LBTR-DBTR" for short or "LBTRDBTR" for shorter.  If you're an experienced angler or a total GOOGAN than this is the site for you.  It's gonna be huge!
                p For the latest in fishing entertainment SUBSCRIBE to my YouTube channel, DO IT NOW!

        div.section-row
            div.contentBlock
                h2 Season 1
                iframe(width="560" height="315" src="https://www.youtube.com/embed/VgTXmBEha5U?list=PL4GmdLu3_qyWt0rnuSV8fmiRPMTVqp3OW" frameborder="0" allowfullscreen)
            div.contentBlock
                p WHAT A SEASON! So many ups and downs, character development, twists and turns... AND THAT SURPRISE ENDING IS INSANE!  Catch all of the action in Season 1 here!

        div.section-row
            div.contentBlock
                h2 Look at my ...
                p Less fishing more phishing!  These are some weird videos...
                p The ellipsis playlist is a warmhearted set of videos that you can enjoy at anytime with anyone!
            div.contentBlock
                h2 Put It In Your Mouth
                iframe(width="560" height="315" src="https://www.youtube.com/embed/AFtwk4fOBCA?list=PL4GmdLu3_qyXH14ivlqAerOun5ZCWWmyG" frameborder="0" allowfullscreen>)

        div.section-row
            div.contentBlock
                h2 Over 3 HOURS of Premium Content
                iframe(width="560" height="315" src="https://www.youtube.com/embed/sOJxwJ0GJLw?list=PU8xPK2UOR3Qz1Ya6E6i-7eQ" frameborder="0" allowfullscreen)
            div.contentBlock
                h2 BINGE!
                p Is it RAINING?! Is it SNOWING?! Let go of your rod and binge watch all my videos!
